/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*     Styling fonts, links and lists     */

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: #000;
}

/*         Styling navigation bar         */

nav, #expand-navbar {
  height: 70px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
}

#expand-navbar {
  display: flex;
  align-items: center;
}

.left-navbar {
  margin-right: auto;
  padding-left: 50px;
  font-size: 22px;
  line-height: 70px;
  font-weight: 700;
}

.left-navbar a {
  color: #00D1D0;
}

.right-navbar {
  padding-right: 50px;
  font-size: 17px;
  line-height: 70px;
}

.right-navbar a:hover {
  color: #00D1D0;
}

.mobile-navbar {
  display: none;
  padding-right: 50px;
  font-size: 17px;
  line-height: 70px;
}

.mobile-navbar:hover {
  color: #00D1D0;
}

#navbarMenu {
  top: 70px;
  left: 0;
  right: 0;
  padding-top: 20px;
  height: 150px;
  font-size: 13px;
  border-bottom: 1px solid #dbdbdb;
}

#navbarMenu a {
  padding-left: 26px;
  padding-bottom: 20px;
}

#navbarMenu a:hover {
  color: #00D1D0;
}

/*         Making the site responsive              */

@media (min-width: 800px) {
  #navbarMenu {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .right-navbar {
    display: none;
  }
  .mobile-navbar {
    display: inline-block;
    padding-right: 30px;
  }
  .left-navbar {
    padding-left: 30px;
    font-size: 18px;
  }
}
